[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=google music manager
Comment=
Exec=google-musicmanager
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

